@puzzel:registry=https://puzzel.pkgs.visualstudio.com/contactcentre/_packaging/puzzel/npm/registry/
always-auth=true
puzzel.pkgs.visualstudio.com/contactcentre/_packaging/puzzel/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
puzzel.pkgs.visualstudio.com/contactcentre/_packaging/puzzel/npm/registry/:_password=aHFsbHphNTY0azU0bnd5aGhvdGMyY3k3dzY0dXZ0eTVhamJtaTI1c3NmcGU1YmJ3ZGJkcQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
puzzel.pkgs.visualstudio.com/contactcentre/_packaging/puzzel/npm/registry/:email=satya.puli@puzzel.com
